.App {
  text-align: center;
}

.appHeader {
  background-color: #282c34;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;	
}

.appHeader li {
	list-style-type: none;
	margin-left: 20px;
	text-decoration: none;
}

.appHeader li a {
	text-decoration: none;
	line-height: 40px;
	color: white;
}

.page {
	display: flex;
	flex-wrap: wrap;
}

.card {
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19), 0 8px 17px rgba(0, 0, 0, 0.2);
	border: 1px solid #eee;
	border-radius: 5px;
	width: 25%;
	margin: 20px;
	padding: 25px;
	min-width: 250px;
	background: #ededed;
}

.addQuestion {
	margin: 25px;
	padding: 25px;
	min-width: 250px;
	width: 25%;
}

form {
	flex-wrap: wrap;
}

h2 {
	display: block;
	width: 100vw;
	margin-left: 25px;
}

textarea {
	border: 1px solid #9f9f9f;
	border-radius: 5px;
	height: 50px;
	width: 100%;
	resize: none;
}

.answersContainer {
	float: left;
	display: block;
	clear: both;
	margin-bottom: 15px;
}

.answerContainer {
	margin: 5px 0;
	display: block;
	clear: both;
}

.answerContainer input, .answerContainer label {
	display: inline-block;
	float: left;
}
.answerContainer input {
	width: 80%;
}

.removeAnswer {
	border-radius: 12px;
	height: 24px;
	width: 24px;
	display: inline;
	float:right;
	background: #ec4479;
	text-align: center;
	font-size: 12px;
	line-height: 8px;
	color: white;
	border: none;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19), 0 8px 17px rgba(0, 0, 0, 0.2);
}

.addAnswer {
	border-radius: 12px;
	height: 24px;
	width: 24px;
	display: block;
	float: left;
	background: #3c3cea;;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	line-height: 8px;
	color: white;
	border: none;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19), 0 8px 17px rgba(0, 0, 0, 0.2);
}

.removeQuestion {
	top: -12px;
	position: relative;
	border-radius: 16px;
	height: 32px;
	width: 32px;
	background: red;
	display: inline;
	float:right;
	background: #ec4479;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	line-height: 12px;
	color: white;
	border: none;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19), 0 8px 17px rgba(0, 0, 0, 0.2);
}
.adminCard form {
	display: inline-block;
	position: relative;
	float: left;
	clear: both;
	height: 100%;
	margin-bottom: 40px;
}

.adminCard.saved-true {
	border: 2px solid #2bb028;
}

.submitQuestion{
	display: block;
	float: right;
	position: absolute;
	bottom: 20px;
	right: 22px;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19), 0 8px 17px rgba(0, 0, 0, 0.2);
	border: none;
	background: #2bb028;
	border-radius: 6px;
	width: 110px;
	height: 40px;
	line-height: 20px;
	font-weight: 500;
	font-size: 1.1em;
	color: white;
}

.pollPage form {
	display: flex;
}

.pollPage .pollSubmit {
	background-color: #3c3cea;
	float: left;
	margin: 25px;
	min-width: 200px;
	border-radius: 5px;
	color: white;
	font-weight: 600;
	font-size: 1.4em;
	min-height: 80px;
}

.pollCard .answerContainer input {
	width: auto;
	margin-left: 3px;
}
.invalidPollSubmit {
	bottom: 2px;
	display: block;
	float: left;
	color: red;
	position: relative;

}

.invalidSubmit {
	display: block;
	float: left;
	color: red;
	position: relative;
	bottom: 52px;
}

.successSubmit {
	width: 100%;
	text-align: center;
	color: #2bb028;
	font-weight: 500;
	font-size: 1.2em;
}

.resultCard {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.resultCard .answerContainer {
	text-align: center;
	font-weight: 500;
	color: #3c3cea;
	font-size: 1.1em;
}